#section-2 {
display: grid;
      background-color: transparent;
      grid-template-columns: 1fr; /* Two equal columns */
      padding-bottom: 7rem;
    }
.cart {
  margin: 0rem;
  outline: none;
  display: inline;
  text-align: center;
}
.cart p {
  background-color: darkblue;
  width: 100vw;
  font-size: 5rem;
  margin:0;
  margin-bottom: -0rem;
}
.cart img {
  min-width: 46.5vw;
  height: 100%;
  object-fit: contain;
  margin-top: 0.8rem;
  border: 1rem solid white;
}

.cart ul {
  margin-left: -2.5rem;
}

.cart h2 {
  font-size: 5rem;
  display:inline;
}

.cart button {
  font-size: 5rem;
}

.cart ul {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
}

.cloned-product .subcart {
   display: none;
}

ul {
  display: grid;
      background-color: green;
      grid-template-columns: 1fr 1fr; /* Two equal columns */
}

.cloned-product .details {
  height: 2.4rem;
  color: darkblue;
  background-color: white;
  text-align: center;
  width: 49.4vw;
  outline: none;
  margin: 0rem;
  display: inline;
  border: 0rem;
  margin-top: -0.93rem;
  font-size: 2rem;
}

.cart input {
  background-color: darkblue;
  margin: 0;
  outline: none;
  text-align: center;
  width: 41.88vw;
  font-size: 3rem;
  pointer-events: none;
  user-select: none;
}

.cart .minus,.plus{
  position: absolute;
  outline: none;
  margin: 0rem;
  display: inline;
  border: 0rem;
  margin-top: 0.1rem;
  background-color: green;
  
}

.cart .minus {
  font-size: 2rem;
  height: 3rem;
  text-align: center;
  width: 2rem;
  margin-left: -2.05rem;
}

.cart .plus {
  font-size: 2rem;
  height: 3rem;
  text-align: center;
  width: 2rem;
}

.cart .remove {
      background-color: darkred;
      height:2.8rem;
      font-size: 3rem;
      width: 30.2rem;
      outline: none;
      margin: 0;
      border: 0;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
}

