#section-2 {
display: grid;
      background-color: transparent;
      grid-template-columns: 1fr; /* Two equal columns */
      padding-bottom: 7.5rem;
    }
    
.cart {
  margin: 0rem;
  outline: none;
  display: inline;
  text-align: center;
}

.cart p {
  background-color: darkblue;
  width: 100vw;
  font-size: 5rem;
  margin:0;
  margin-bottom: -0rem;
}

.cart img {
  min-width: 46.5vw;
  height: 100%;
  object-fit: contain;
  margin-top: 0.8rem;
  border: 1rem solid white;
}

.cart ul {
  margin-left: -2.5rem;
}

.cart h2 {
  font-size: 5rem;
  display:inline;
}

.cart ul {
  margin: 0;
  padding: 0;
  margin-top: -0.18rem;
  text-align: center;
  background-color: transparent;
}

.cloned-product .subcart {
   display: none;
}

ul {
  display: grid;
      background-color: green;
      grid-template-columns: 1fr 1fr; /* Two equal columns */
}

.cloned-product .details {
  height: 2.4rem;
  color: darkblue;
  background-color: white;
  text-align: center;
  width: 49.4vw;
  outline: none;
  margin: 0rem;
  display: inline;
  border: 0rem;
  margin-top: -0.93rem;
  font-size: 2rem;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.cart .quantityadd {
  color: whitesmoke;
  background-color: hsla(60, 100%, 50%, 0.2);
  margin: 0;
  outline: none;
  padding: 0rem;
  text-align: center;
  width: 30vw;
  font-size: 3rem;
  pointer-events: none;
  user-select: none;
  height: 3.4rem;
  border: none;
  margin-top: 0rem;
}

.cart .minus,.plus{
  height: 3.4rem;
  width: 6rem;
  outline: none;
  margin: 0rem;
  display: inline;
  border: 0rem;
  background-color: darkblue;
  color: white;
  text-align: center;
  margin-top: 0rem;
  font-size: 3rem;
}

.cart .remove {
  color: red;
      background-color: darkred;
      height:2.8rem;
      font-size: 2.5rem;
      width: 30.588rem;
      outline: none;
      margin: 0;
      border: 0;
      padding-bottom: 2.5rem;
      margin-bottom: 0rem;
      height: 3.2rem;
      font-style: italic
}
