.cart {
  margin: 0; /* Remove any default margin */
  outline: none;
  text-align: center; /* Center the content horizontally */
}

.cart h2, .cart p {
  font-size: 5rem;
  display: inline;
}

.cart input {
  font-size: 2rem;
  text-align: center;
}

.cart button {
  font-size: 5rem;
}

.cart ul {
  margin: 0; /* Remove default margin for the ul */
  padding: 0; /* Remove default padding for the ul */
  list-style: none; /* Remove default list styles (bullets) */
  background-color: red;
}

.cart ul li {
  display: inline; /* Display list items horizontally */
  margin-right: 5px; /* Add spacing between list items if needed */
}

  .cart .subcart {
    display: none;
  }