#section-2 {
display: grid;
      background-color: yellow;
      grid-template-columns: 1fr; /* Two equal columns */
      padding-bottom: 100%;
    }
.cart img {
  min-width: 46.5vw;
  height: 100%;
  object-fit: contain;
  margin-top: 0.8rem;
  border: 1rem solid white;
}
.cart .details {
  width: 100%;
}
.cart .quantity-grid input {
  color: black;
  background-color: white;
  height: 4rem;
  font-size: 3.5rem;
  text-align:center;
  width: 6.6rem;
}

.cart {
  margin: 0rem;
  outline: none;
  display: inline;
  text-align: center;
}
.cart ul {
  margin-left: -2.5rem;
  background-color: red;
}

.cart h2,p {
  font-size: 5rem;
  display:inline;
}

.cart input {
  font-size: 2rem;
  text-align: center;
}
.cart button {
  font-size: 5rem;
}
.cart ul {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: red;
}

.cloned-product .subcart {
   display: none;
}
ul {
  display: grid;
      background-color: green;
      grid-template-columns: 1fr 1fr; /* Two equal columns */
}